@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --title-color: #3d2513;
  --description-color: #624d3b;
}

/* Satoshi font */
@theme {
  --font-satoshi: var(--font-satoshi);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-title: var(--title-color);
  --color-description: var(--description-color);
}

/* Custom utility classes */
.titleColor {
  color: var(--title-color);
}

.descColor {
  color: var(--description-color);
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}
